@font-face { font-family: 'sans'; src: url(./fonts/IRANSans-web.eot); src: url(./fonts/IRANSans-web.eot#iefix) format("embedded-opentype"), url(./fonts/IRANSans-web.woff2) format("woff2"), url(./fonts/IRANSans-web.woff) format("woff"), url(./fonts/IRANSans-web.ttf) format("ttf"); font-weight: 400; }
@font-face { font-family: 'sans'; src: url(./fonts/IRANSans-Medium-web.eot); src: url(./fonts/IRANSans-Medium-web.eot#iefix) format("embedded-opentype"), url(./fonts/IRANSans-Medium-web.woff2) format("woff2"), url(./fonts/IRANSans-Medium-web.woff) format("woff"), url(./fonts/IRANSans-Medium-web.ttf) format("ttf"); font-weight: 700; }

.signature {
  background: #F3F3F3 url(http://www.php-bb.ir/pic/images/95552959411737261060.png) no-repeat right;
  border: 2px dashed #CAC1AE;
  font-family: sans,"Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #CECECE;
  text-shadow: 1px 1px white; color: gray;
  display: block;
  padding: 5px;
  text-align: right;
  padding: 15px 66px 15px 66px; }
  
  .stat-block {
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%), -webkit-linear-gradient(top, rgba(204, 204, 204, 0.2) 0%, rgba(204, 204, 204, 0.25) 10px, rgba(204, 204, 204, 0) 50px);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(to bottom, rgba(204, 204, 204, 0.2) 0%, rgba(204, 204, 204, 0.25) 10px, rgba(204, 204, 204, 0) 50px);
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5) inset, 0 0 3px 1px rgba(128, 128, 128, 0.1) inset, 1px 1px 3px rgba(0, 0, 0, 0.15), 0 10px 10px -10px rgba(0, 0, 0, 0.2);
  background: #f4f4f4;
  border: 1px solid #f9f9f9;
	@include section;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 4px 9px;
	> h3:first-child {
		@include section-heading;
		padding-left: 10px;
		padding-right: 10px;
	}
}
  